<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"/>
<body>
<div th:replace="fragments/layout :: header(name=${account.name},profilename=${account.profilename})"/>
<p th:text="${account.name}"></p>
<ol>
    <li th:each="message : ${messages}">
        <p th:text="${message.sender.username}"></p>
        <p th:text="${#temporals.format(message.createDate, 'dd.MM.yyyy HH:mm')}"></p>
        <p th:text="${message.content}"></p>
    </li>
</ol>
<form method="POST" th:action="@{/messages}" action="/messages">
    <input type="text" name="receiver"/>
    <input type="text" name="content"/>
    <input type="submit" value="Add!"/>
</form>
</body>
</html>